.parent {
    display: grid;
    place-items: center;
    resize: both;
    overflow: auto;
    /* Create the parallax scrolling effect */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 650px;
}

.child {
    text-align: center;
}

.textStyle{
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    font-family: 'Open Sans', sans-serif;
}