#loginBackground{
    background-image: url('../img/login.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.loginBar{
    width: 80%;
    border: none;
    background-color: #F0F0F0;
    padding-left: 15px;
    height: 50px;
}

#loginCard{
    width:25rem;
}

#submit{
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 1.1em;
}