<p>You (or someone else) entered this emal address when trying to change the password of a Fieldston Towers account</p>

<p>Howeverm this email address is not on our database of registered users and
    therefore the attempted password change has failed.</p>

<p>If you are a Fieldston Tower user and were expecting this email, please try again
using the email address you gave when opening your account.</p>

<p>If you are not a Fieldston Tower user, please igonre this email.</p>

<p>Kind regards,</p>
<p>The Fieldston Towers Support</p>