{% extends "base.html" %}

{% block title %}Amenities{% endblock %}

{% block custom_styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/amenities.css') }}">
{% endblock %}

{% block content %}
<main>
    <section class="parent" style="background-image: url('../static/img/stockApartment.jpg');">
        <div class="child" contenteditable>
            <h1 class="titles h1Size whiteText">Amenities & Features</h1>
        </div>
    </section>

    <section class="container-fluid background-grey topSpace">
        <div class="container">
            <p id="description">
                More like your own home than any Co Op you've ever seen! Welcome home to Fieldston Towers, where we have
                something for everyone!
                From new phase to our established residences, our community boasts many floorplans and price ranges for
                you to choose from.
                Enjoy living on one level, with no neighbors above or below you. And best of all, you'll love our
                wonderful location!
            </p>
        </div>
    </section>

    <section class="background-blue container-fluid topSpace">
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-sm-12">
                    <h5 class="titles textColor">Community Features</h5>
                    <table class="amenitiesTable">
                        <tr>
                            <td class="amenitieCell" href="#amenitiesCarousel" data-slide-to="0"><i class="fas fa-check"></i> Pet Friendly</td>
                        </tr>
                        <tr>
                            <td class="amenitieCell" href="#amenitiesCarousel" data-slide-to="1"><i class="fas fa-check"></i> Live-in Super</td>
                        </tr>
                        <tr>
                            <td class="amenitieCell" href="#amenitiesCarousel" data-slide-to="2"><i class="fas fa-check"></i> Community Room</td>
                        </tr>
                        <tr>
                            <td class="amenitieCell" href="#amenitiesCarousel" data-slide-to="3"><i class="fas fa-check"></i> Community Backyard</td>
                        </tr>
                        <tr>
                            <td class="amenitieCell" href="#amenitiesCarousel" data-slide-to="4"><i class="fas fa-check"></i> Parking Avaliable</td>
                        </tr>
                        <tr>
                            <td class="amenitieCell" href="#amenitiesCarousel" data-slide-to="5"><i class="fas fa-check"></i> Laundry in Building</td>
                        </tr>
                        <tr>
                            <td class="amenitieCell" href="#amenitiesCarousel" data-slide-to="6"><i class="fas fa-check"></i> Bike Room</td>
                        </tr>
                        <tr>
                            <td class="lastCell" href="#amenitiesCarousel" data-slide-to="7"><i class="fas fa-check"></i> Storage Room</td>
                        </tr>
                    </table>
                </div>
                <div class="col-md-7 col-sm-12">
                    <div id="amenitiesCarousel" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#amenitiesCarousel" data-slide-to="0" class="active"></li>
                            <li data-target="#amenitiesCarousel" data-slide-to="1"></li>
                            <li data-target="#amenitiesCarousel" data-slide-to="2"></li>
                            <li data-target="#amenitiesCarousel" data-slide-to="3"></li>
                            <li data-target="#amenitiesCarousel" data-slide-to="4"></li>
                            <li data-target="#amenitiesCarousel" data-slide-to="5"></li>
                            <li data-target="#amenitiesCarousel" data-slide-to="6"></li>
                            <li data-target="#amenitiesCarousel" data-slide-to="7"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img class="d-block w-100 imgHeight" src="{{ url_for('static', filename='img/petFriendly.jpg') }}" alt="First slide">
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100 imgHeight" src="{{ url_for('static', filename='img/super.jpg') }}" alt="Second slide">
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100 imgHeight" src="{{ url_for('static', filename='img/communityRoom.jpg') }}" alt="Third slide">
                            </div>
                            <div class="carousel-item ">
                                <img class="d-block w-100 imgHeight" src="{{ url_for('static', filename='img/backyard.jpg') }}" alt="Backyard">
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100 imgHeight" src="{{ url_for('static', filename='img/parkingLot.jpg') }}" alt="Parking Lot">
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100 imgHeight" src="{{ url_for('static', filename='img/laundry.jpg') }}" alt="Laundry Room">
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100 imgHeight" src="{{ url_for('static', filename='img/bikeStorage.webp') }}" alt="Laundry Room">
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100 imgHeight" src="{{ url_for('static', filename='img/storage.jpg') }}" alt="Laundry Room">
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#amenitiesCarousel" role="button"
                           data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#amenitiesCarousel" role="button"
                           data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="background-grey container-fluid topSpace">
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-sm-12">
                    <h5 class="titles textColor">Apartment Features</h5>
                    <table class="amenitiesTable">
                        <tr>
                            <td class="amenitieCell" href="#apartmentCarousel" data-slide-to="0"><i class="fas fa-check"></i> Hardwood Floors</td>
                        </tr>
                        <tr>
                            <td class="amenitieCell" href="#apartmentCarousel" data-slide-to="1"><i class="fas fa-check"></i> Stainless Appliances</td>
                        </tr>
                        <tr>
                            <td class="amenitieCell" href="#apartmentCarousel" data-slide-to="2"><i class="fas fa-check"></i> Spacious Bedrooms</td>
                        </tr>
                        <tr>
                            <td class="amenitieCell" href="#apartmentCarousel" data-slide-to="3"><i class="fas fa-check"></i> Balcony in Select Homes</td>
                        </tr>
                        <tr>
                            <td class="lastCell" href="#apartmentCarousel" data-slide-to="4"><i class="fas fa-check"></i>Multiple Bathrooms</td>
                        </tr>
                    </table>
                </div>
                <div class="col-md-7 col-sm-12">
                    <div id="apartmentCarousel" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#apartmentCarousel" data-slide-to="0" class="active"></li>
                            <li data-target="#apartmentCarousel" data-slide-to="1"></li>
                            <li data-target="#apartmentCarousel" data-slide-to="2"></li>
                            <li data-target="#apartmentCarousel" data-slide-to="3"></li>
                            <li data-target="#apartmentCarousel" data-slide-to="4"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img class="d-block w-100 imgHeight" src="{{ url_for('static', filename='img/hardwood.jpg') }}" alt="First slide">
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100 imgHeight" src="{{ url_for('static', filename='img/kitchen.jpg') }}" alt="Second slide">
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100 imgHeight" src="{{ url_for('static', filename='img/bedroom.jpg') }}" alt="Third slide">
                            </div>
                            <div class="carousel-item ">
                                <img class="d-block w-100 imgHeight" src="{{ url_for('static', filename='img/balcony.jpg') }}" alt="Third slide">
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100 imgHeight" src="{{ url_for('static', filename='img/.jpg') }}" alt="Third slide">
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100 imgHeight" src="{{ url_for('static', filename='img/laundry.jpg') }}" alt="Third slide">
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#apartmentCarousel" role="button"
                           data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#apartmentCarousel" role="button"
                           data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script>

    </script>
</main>
{% endblock %}