{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block custom_styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/apply.css') }}">
{% endblock %}

{% block content %}
    <main class="topSpace container">
        <div class="container">
            <a href="/get-pdf/FBC_Application.pdf">
                <button class='btn btn-default'>Download</button>
            </a>
        </div>
        <div class="container">
            <div class="row">
                <div class="col">

                    <h1>Upload an image</h1>
                    <hr>

                    <form action="/apply" method="POST" enctype="multipart/form-data">

                        <div class="form-group">
                            <label>Select image</label>
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" name="pdf">
                                <label class="custom-file-label" for="image">Select pdf...</label>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-primary">Upload</button>
                    </form>
                    <form action="" method="POST" enctype="multipart/form-data">
                        {{ form.hidden_tag() }}
                        <div class="card container">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <h5>{{ form.name.label }}</h5>
                                        <p>{{ form.name(class='single-line') }}</p>
                                    </div>

                                    <div class="col-sm-6">
                                        <h5>{{ form.phone.label }}</h5>
                                        <p>{{ form.phone(class='single-line') }}</p>
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col-sm-1">
                                        <h5>{{ form.email.label }}</h5>
                                    </div>
                                    <div class="col-sm-11">
                                        <p>{{ form.email(class='single-line') }}</p>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-6">
                                        <h5>{{ form.residenceType.label }}</h5>
                                        <p>{{ form.residenceType(class='single-line') }}</p>
                                    </div>
                                    <div class="col-sm-6">
                                        <h5>{{ form.desiredMoveInDate.label }}</h5>
                                        <p>{{ form.desiredMoveInDate(class='single-line') }}</p>
                                    </div>
                                </div>

                                <div class="row">
                                    <p>{{ form.applicationForm.label }}</p>
                                    <p>{{ form.applicationForm() }}</p>
                                </div>

                                <p>{{ form.submit() }}</p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
