{% extends "base.html" %}

{% block title %}Contact{% endblock %}

{% block custom_styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/community.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/formStyles.css') }}">
{% endblock %}

{% block content %}
<main class="container-fluid background-blue">

    <button class="open-button" onclick="openForm()">Open Form</button>

    <section class="topSpace form-popup" id="myForm">
        <form action="" method="post" class="form-container">
            {{ form.hidden_tag() }}
            <div class="card">
                <h5>Create Post</h5>
                <div class="card-body">
                    <p class="textStyles">{{ form.post(class='textArea') }}</p>
                    <p>{{ form.submit(class = 'buttonStyle') }}</p>
                </div>
            </div>
        </form>
    </section>

    <section class="topSpace">
        {% for c in community %}
         <div class="card container">
                <div class="card-body">
                    {{c.post}}
                </div>
         </div>
        {% endfor %}
    </section>

    <script>
        function openForm(){
            document.getElementById("myForm").style.display = "block";
        }
        function closeForm() {
            document.getElementById("myForm").style.display = "none";
        }
    </script>
</main>
{% endblock %}