{% extends "base_login.html" %}

{% block title %}Account Settings{% endblock %}

{% block custom_styles %}
<link href="{{ url_for('static', filename='css/edit_profile.css') }}" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>

{% endblock %}

{% block content %}
<main class="container-fluid topSpace background-blue">
    <div class="container">
        <div class="card .settingCard">
            <div class="card-body">
                <h5 class="card-title">Basic Info</h5>
                <div class="row setting" id="Photo">
                    <div class="col-4">
                        Photo
                    </div>
                    <div class="col-4">
                        Add a Photo to Personalize your account
                    </div>
                    <div class="col-4 links">
                        <a href="{{url_for('change_photo')}}">Edit</a>
                    </div>
                </div>

                <div class="row setting" id="Username">
                    <div class="col-4">
                        Username
                    </div>
                    <div class="col-4">
                        {{user.username }}
                    </div>
                    <div class="col-4 links">
                        <a href="{{url_for('change_username')}}">Edit</a>
                    </div>
                </div>

                <div class="row setting" id="name">
                    <div class="col-4">
                        Name
                    </div>
                    <div class="col-4">
                        {{user.first_name }} {{user.last_name}}
                    </div>
                    <div class="col-4 links">
                        <a href="{{url_for('change_name')}}">Edit</a>
                    </div>
                </div>

                <div class="row lastSetting" id="password">
                    <div class="col-4">
                        Password
                    </div>
                    <div class="col-4">
                        .......
                    </div>
                    <div class="col-4 links">
                        <a href="{{url_for('change_password')}}">Edit</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="topSpace">
            <div class="card .settingCard">
                <div class="card-body">
                    <h5 class="card-title">Contact Info</h5>
                    <div class="row setting" id="email">
                        <div class="col-4">
                            Email
                        </div>
                        <div class="col-4">
                            {{user.email}}
                        </div>
                        <div class="col-4 links">
                            <a href="{{url_for('change_email')}}">Edit</a>
                        </div>
                    </div>
                    <div class="row lastSetting" id="phones">
                        <div class="col-4">
                            Phone and Notifications
                        </div>
                        <div class="col-4">
                            {{user.phone_number}}
                        </div>
                        <div class="col-4">
                            <a href="{{url_for('change_contact')}}">Edit</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}