{% extends "base.html" %}

{% block title %}Event Form{% endblock %}

{% block custom_styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/maintenance.css') }}">
{% endblock %}

{% block content %}
<main class="background-grey">
    <div class="container topSpace">
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <div class="card container">
                <div class="card-body">
                    <h1>Event Form</h1>
                    <h5>Event Title</h5>
                    <p>{{ form.title(class="single-line") }}</p>

                    <h5> Event Description</h5>
                    <p>{{ form.body(id='textArea') }}</p>

                    <div >
                        <h5>Location</h5>
                        <p>{{ form.body(class = "single-line") }}</p>
                    </div>

                    <div class="card">
                        <div class="card-body">
                            <p>Select the dates and times of the actual event.</p>
                            <p>Event Start:</p>
                            <p>{{ form.dateOfEvent}}</p>
                            <div class="row">
                                <p>Start Time: {{ form.start_at }}</p>
                                <p>End Time: {{ form.end_at }}</p>
                            </div>
                        </div>
                    </div>

                    <p>{{ form.submit() }}</p>
                </div>
            </div>
        </form>
    </div>
</main>
{% endblock %}