{% extends "base_login.html" %}
{% block title %}Home{% endblock %}

{% block content %}
<main>
    <div class="container topSpace">
        <form action="" method="post" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <div class="card container">
                <div class="card-body">
                    <h1>Event Post</h1>
                    <h5>Title</h5>
                    <p class="textStyles">{{ form.title(class="single-line") }}</p>

                    <h5> Event Description</h5>
                    <p class="textStyles">{{ form.body(class='textArea') }}</p>
                    <p>Picture Attachment Button{{ form.img() }}</p>

                    <div class="dateTime">
                        <p class="textStyles">Select the dates and times of the actual event.</p>
                        <p class="textStyles">Event Start: {{ form.dateOfEvent}}</p>
                        <p class="textStyles">Start Time: {{ form.start_at }} <span class="tab"> </span>End Time:{{ form.end_at }}</p>
                    </div>

                    <p>{{ form.submit(class = 'buttonStyle') }}</p>
                </div>
            </div>
        </form>
    </div>
</main>
{% endblock %}