{% extends "base.html" %}

{% block title %}Maintenance{% endblock %}

{% block custom_styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/event.css') }}">
{% endblock %}

{% block content %}
<main class="background-blue container-fluid topSpace">
    <div class="container">
        <h1 id="eventTitle">Upcoming Events</h1>
        <h3 id="day"></h3>

        <div class="row">
            <div class="col-sm-3">
                <div class="card" id='calendar'>
                    <div class="card-header">
                        <h3 id="monthAndYear"></h3>
                    </div>

                    <div style="overflow-x:auto;">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>Sun</th>
                                <th>Mon</th>
                                <th>Tue</th>
                                <th>Wed</th>
                                <th>Thu</th>
                                <th>Fri</th>
                                <th>Sat</th>
                            </tr>
                            </thead>

                            <tbody id="calendar-body">

                            </tbody>
                        </table>
                    </div>

                    <div>
                        <button class="btn btn-outline-primary col-sm-6" id="previous" onclick="previous()">
                            Previous
                        </button>

                        <button class="btn btn-outline-primary col-sm-6" id="next" onclick="next()">Next</button>
                    </div>
                    <br/>
                    <div id="month"></div>
                    <div id="year"></div>

                </div>

                <div class="card" id="cardSpace">
                    <div class="card-body">
                        <a href="{{ url_for('event_form') }}">Create an Event Post</a>
                    </div>
                </div>
            </div>

            <div class="col-sm-8">
                {% for event in events %}
                <div class="cardMaintenance">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-3">

                                </div>
                                <div class="col-9">
                                      <h3 class="card-title">{{ event.title }}</h3>
                                </div>
                            </div>
                            <p class="card-text">{{ event.body }}</p>
                            <p class="card-text">Date of the Event: {{ moment(event.dateOfEvent).format('LL') }} </p>
                            <p class="card-text">Start time: {{event.start}} End Time: {{ event.end }}</p>
                            <p class="card-text">Posted: {{ moment(event.timestamp).fromNow() }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</main>

{% endblock %}

{%block scripts%}
    {{ super() }}
    <script src="{{ url_for('static', filename='javascript/calendar.js') }}"></script>
    {{ moment.include_moment() }}
{% endblock %}