{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block custom_styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
{% endblock %}

{% block content %}
    <main class="background-grey">
        <div class="container topSpace">
            <h3>Maintenance Updates</h3>
            {% for post in posts %}
                <div class="cardMaintenance">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{ post.title }}</h5>
                            <p class="card-text">{{ post.body }}</p>
                            <p>{{ post.author }}</p>
                            <p>{{ post.timestamp }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

    </main>
{% endblock %}