{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block custom_styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
{% endblock %}

{% block content %}
    <main class="background-blue">
        <div class="container topSpace">
            <h3>News Feed</h3>
            {% for post in posts %}
                <div class="cardMaintenance">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{ post.title }}</h5>
                            <p class="card-text">{{ post.body }}</p>
                            <p class="card-text">Start Time: {{ post.start }}  End Time: {{ post.end}}</p>
                            <p class="card-text">Posted: {{ moment(post.date).format('LLLL') }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

    </main>
{% endblock %}

{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}
{% endblock %}