{% extends "base_login.html" %}
{% block title %}Home{% endblock %}

{% block content %}
<main>
    <h3>News Feed</h3>

    <article class="media content-section">
        <img class="rounded-circle article-img"
             src="{{ url_for('static', filename='profile_pics/' + current_user.profile_img) }}">

        <button onclick="window.location.href='{{ url_for( 'post_form') }}'" class="open-button buttonStyle">
            Is their anything you want to share?
        </button>
    </article>

    {% for maintenance_post in maintenance_posts: %}
    <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                    <h3 class="">Maintenance Update: {{ maintenance_post.title}}</h3>
                    <small class="text-muted">{{ maintenance_post.timestamp.strftime('%m-%d-%y') }}</small>
                </div>
                <!--<h2><a class="article-title" href="#"></a></h2>-->
                {% if maintenance_post.maintenance_img != None %}
                    <img class="responsive-img"  src="{{ url_for('static', filename='maintenance_pic/' + maintenance_post.maintenance_img) }}">
                {% endif %}
                <p class="article-content">{{ maintenance_post.body }}</p>
                {% if maintenance_post.author == current_user %}
                <div>
                    <a class="btn btn-secondary btn-sm mt-1 mb-1"
                       href="{{ url_for('maintenance_update', post_id=maintenance_post.id) }}">Update</a>
                    <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal"
                            data-target="#deleteModalMaintenance">
                        Delete
                    </button>
                </div>
                {% endif %}
            </div>
            <div class="modal fade" id="deleteModalMaintenance" tabindex="-1" role="dialog"
                 aria-labelledby="deleteModalLabelMaintenance"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="deleteModalLabelMaintenance">Delete Post?</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <form action="{{ url_for('delete_maintenance', post_id=maintenance_post.id) }}" method="POST">
                                <input class="btn btn-danger" type="submit" value="Delete">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
    </article>
    {% endfor %}

    {% for post in posts %}
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata row">
                <a  href="{{ url_for('user', username=post.author.username) }}">
                    <img class="rounded-circle article-img"
                     src="{{ url_for('static', filename='profile_pics/' + post.author.profile_img) }}">
                </a>
                <div class="col-3">
                    <a href="{{ url_for('user', username=post.author.username) }}">{{ post.author.username }}</a>
                    <br>
                    <small class="text-muted">{{ post.timestamp.strftime('%m-%d-%y') }}</small>
                </div>
                <div class="col-8">
                    <h3> {{ post.title}}</h3>
                </div>
            </div>
            <!--<h2><a class="article-title" href="#"></a></h2>-->
            {% if post.post_img != None %}
                <img  class="responsive-img"  src="{{ url_for('static', filename='post_pic/' + post.post_img) }}">
            {% endif %}
            <p class="article-content">{{ post.body }}</p>
            {% if post.author == current_user %}
            <div>
                <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('update_post', post_id=post.id) }}">Update</a>
                <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">
                    Delete
                </button>
            </div>
            {% endif %}
        </div>
        <!-- Modal -->
        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteModalLabel">Delete Post?</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <form action="{{ url_for('delete_post', post_id=post.id) }}" method="POST">
                            <input class="btn btn-danger" type="submit" value="Delete">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </article>
    {% endfor %}

</main>
{% endblock content %}