{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block custom_styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}

{% block content %}
    <main class="topSpace container-fluid h-100" id="loginBackground">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="card space responsive-img " id="loginCard">
                <div class="card-body">
                    <h1 style="text-align: center">Fieldston Towers</h1>
                    <h5 style="text-align: center">Sign In</h5>
                    <form action="" method="POST">
                        {{ form.hidden_tag() }}
                        <p>
                            <h5>{{ form.username.label }}</h5>
                            {{ form.username(class="loginBar") }}<br>

                        </p>
                        <p>
                            <h5>{{ form.password.label }}</h5>
                            {{ form.password(class="loginBar") }}<br>
                        </p>

                        {% if error %}
                            <p class=error>{{ error }}</p>
                        {% endif %}
                        <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
                        <p><a href="{{ url_for('registration') }}">Sign up</a></p>
                        <p><a href="{{ url_for('reset_password_request') }}">Forgot Password</a></p>
                        <p id="submit">{{ form.submit(class="submit") }}</p>
                    </form>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
