{% extends "base.html" %}

{% block title %}Maintenance{% endblock %}

{% block custom_styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/formStyles.css') }}">
{% endblock %}

{% block content %}
<main class="background-grey">
    <div class="container topSpace">
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <div class="card container">
                <div class="card-body">
                    <h1>Maintenance Post</h1>
                    <h5>Title</h5>
                    <p class="textStyles">{{ form.title(class="single-line") }}</p>

                    <h5> Description</h5>
                    <p class="textStyles">{{ form.body(class ='textArea') }}</p>

                    <div class="dateTime">
                        <p class="textStyles">Day the maintenance work will occur</p>
                        <p class="textStyles">Event Start: {{ form.date}}</p>
                        <p class="textStyles">Timeframe the maintenance will occur:</p>
                        <p class="textStyles">Start Time: {{ form.start_at }} <span class="tab"> </span>End Time: {{ form.end_at }}</p>
                    </div>
                    <p>{{ form.submit(class = 'buttonStyle') }}</p>
                </div>
            </div>
        </form>
    </div>
</main>
{% endblock %}