{% extends "base_login.html" %}
{% block title %}Maintenance{% endblock %}

{% block content %}

{% for post in maintenance_post %}
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                <h5 class="">{{ post.title}}</h5>
                <small class="text-muted">{{ post.timestamp.strftime('%m-%d-%y') }}</small>
            </div>

            <p class="article-content">Date of Work: {{ post.date }}  Time of Work: {{post.start}} - {{post.end}}</p>
            {% if post.maintenance_img != None %}
                <img  src="{{ url_for('static', filename='maintenance_pic/' + post.maintenance_img) }}">
            {% endif %}
            <p class="article-content">{{ post.body }}</p>
            {% if post.author == current_user %}
            <div>
                <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('maintenance_update', post_id=post.id) }}">Update</a>
                <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModalMaintenance">
                    Delete
                </button>
            </div>
            {% endif %}
        </div>

        <div class="modal fade" id="deleteModalMaintenance" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabelMaintenance"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteModalLabelMaintenance">Delete Post?</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <form action="{{ url_for('delete_maintenance', post_id=post.id) }}" method="POST">
                            <input class="btn btn-danger" type="submit" value="Delete">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </article>
    {% endfor %}

{% endblock %}