{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block custom_styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/maintenance.css') }}">
{% endblock %}

{% block content %}
<main class="background-blue">
    <div class="container topSpace">
        <h1>Maintenance Updates</h1>
        <div class="row">
            <div class="col-10">
                {% for post in posts %}
                <div class="cardMaintenance">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{ post.title }}</h5>
                            <p class="card-text">{{ post.body }}</p>
                            <p>{{ post.author }}</p>
                            <p>{{ post.timestamp }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="col-2">
                <a href="{{ url_for('maintenance_form') }}">Create a new form</a>
            </div>
        </div>
    </div>
</main>
{% endblock %}