{% extends "base.html" %}

{% block title %}Sign up{% endblock %}

{% block custom_styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/formStyles.css') }}">
{% endblock %}

{% block content %}
<main class="background-grey">
    <div class="container topSpace">
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <div class="card container">
                <div class="card-body">
                    <h1 class="titles h1Size">Registration</h1>
                    <p class="textStyles">Username: {{ form.username(class="single-line") }}</p>
                    <div class="row">
                        <p class="textStyles">First Name: {{ form.firstName(class="single-line") }}</p>
                        <p class="textStyles">Last Name: {{ form.lastName(class="single-line") }}</p>
                    </div>
                    <p class="textStyles">Email: {{ form.email(class="single-line") }}</p>
                    <p class="textStyles">Mobile Number: {{ form.phone(class="single-line") }}</p>
                    <p class="textStyles">Password: {{ form.password(class="single-line") }}</p>
                    <p class="textStyles">Retype Password: {{ form.password2(class="single-line") }}</p>

                    <p>{{ form.submit(class = 'buttonStyle') }}</p>
                </div>
            </div>
        </form>
    </div>
</main>
{% endblock %}