{% extends "base.html" %}

{% block title %}Password Restart{% endblock %}

{% block content %}
    <main class="container">
        <h2>Create a new password</h2>
        <p>
            We just sent an email at {{email}} with further instructions. Click the link and follow the instruction to choose a new password.
            The email link must be clicked within a limited time.
        </p>

        <h2>Didn't receive our email?</h2>
        <ul>
            <li>Check your email account's junk or span folder</li>
            <li>Click here to resend the email</li>
        </ul>
    </main>
{% endblock %}